@import 'variables';

.app-overlay {
  background-color: #000;
  opacity: 0.2;
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: -1000;
  margin: (-$body-vertical-padding) (-$body-horizontal-padding);
}

.content-container {
  margin: 0;
}

.content-underlay {
  background-color: #000;
}