@import url('http://fonts.googleapis.com/css?family=Open+Sans');

html {
  overflow: hidden;
  height: 100%;
}

body {
  margin: 0;
  font-family: "Open Sans", sans-serif;
  height: 100%;
  width: 100%;
  background-size: contain;
  background: url('https://hd.unsplash.com/photo-1450101215322-bf5cd27642fc') no-repeat center center fixed;
  //overflow: auto;
}
