.container {
  border: gray solid 2px;
  border-top: none;
  background-color: lightgray;
  text-align: center;
}

.nav-list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: inline-block;
}